In [3]:
import pandas as pd

In [4]:
customers_data = {"id": [1, 2, 3, 4], "name": ["Joe", "Henry", "Sam", "Max"]}

customers_df = pd.DataFrame(customers_data)

customers_df

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [5]:
# Orders table
orders_data = {"id": [1, 2], "customerId": [3, 1]}

orders_df = pd.DataFrame(orders_data)

orders_df

   id  customerId
0   1           3
1   2           1

In [24]:
tmp = pd.merge(customers_df, orders_df, "left",left_on="id",right_on="customerId")
tmp

   id_x   name  id_y  customerId
0     1    Joe   2.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   1.0         3.0
3     4    Max   NaN         NaN

In [25]:

tbl=tmp[tmp["customerId"].isna()]
tbl

   id_x   name  id_y  customerId
1     2  Henry   NaN         NaN
3     4    Max   NaN         NaN