In [23]:
import pandas as pd

In [24]:
file_name = "../data/3july24.csv"

In [25]:
df = pd.read_csv(file_name)
df

          Date      Debit   Credit   Balance
0  03 Jul 2024        NaN  99000.0  100949.17
1  03 Jul 2024        NaN    100.0  101049.17
2  03 Jul 2024        NaN    100.0  101149.17
3  03 Jul 2024        NaN  65800.0  166949.17
4  03 Jul 2024  160416.00      NaN    6533.17
5  03 Jul 2024     839.70      NaN    5693.47
6  03 Jul 2024     234.36      NaN    5459.11
7  03 Jul 2024    3509.94      NaN    1949.17

In [33]:
print(df["Debit"].sum(skipna=True)==df["Credit"].sum(skipna=True))

print(df[4:7]["Debit"].sum()-1905*83.97)

True

1527.2099999999919